<a href="https://colab.research.google.com/github/ccbeltran/Curso.Prep.Henry/blob/master/Desarrollo_Algoritmos_secuenciales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<table><tr><td><img src="https://www.ucentral.edu.co/sites/default/files/inline-images/logosimbolo-ucentral-vigilada_1.png" alt="Imagen 2" width="600"> </td>
<td><img src="https://www.ucentral.edu.co/sites/default/files/inline-images/sello-acreditacion-2023-2029.png" alt="Imagen 2" width="600"></td></tr></table>

## __1. Ejercicios sobre expresiones lógicas__

- Determine para que valores de X se cumple y para que valores de X no se cumple la siguiente expresión: `X != 6 and X > 3`

- Determine para que valores de H se cumple y para que valores de H no se cumple la siguiente expresión: `not (H >= 2) or H > 9`

- Determine para que valores de M se cumple y para que valores de M no se cumple la siguiente expresión: `M % 5 >= 2 or M < -7`

In [18]:
# Determine para que valores de X se cumple y para que valores de X no se cumple la siguiente expresión: X != 6 and X > 3
def expresion(X):
    if X != 6 and X > 3:
        print("la expresión se cumple.")
    else:
        print("la expresión NO se cumple.")
valor = float(input('Ingrese primer valor:'))
expresion(valor)

Ingrese primer valor:7
la expresión se cumple.

In [20]:
# Determine para que valores de H se cumple y para que valores de H no se cumple la siguiente expresión: not (H >= 2) or H > 9
def expresion(H):
    return not (H >= 2) or H > 9

valor = float(input('Ingrese primer valor:'))
expresion(valor)

Ingrese primer valor:4

False

In [15]:
 # Determine para que valores de M se cumple y para que valores de M no se cumple la siguiente expresión: M % 5 >= 2 or M < -7
 def expresion(M):
    if M % 5 >= 2 or M < -7:
        print("la expresión se cumple.")
    else:
        print("la expresión NO se cumple.")
valor = float(input('Ingrese primer valor:'))
expresion(valor)

Ingrese primer valor:5
la expresión NO se cumple.

## __2. Ejercicios sobre manejo de errores__

> - Escriba un código que genere cada uno de los errores mencionados en la lista
    - __ValueError:__ error al convertir un valor, ej. de cadena a numperico
    - __NameError:__ el nombre de variable o función no es correcto
    - __SyntaxError:__ la declaración de la estructura no es acorde
    - __TypeError:__ problemas para operaciones con un tipo de dato no esperado
    - __ZeroDivisionError:__ se trata de ejecutar una división por cero
    - __OSError:__ problema del sistema, ej. el archivo especificado no existe
    - __IndexError:__ cuando se accede a un elemento de una estructura que esta fuera de alcance.

In [32]:
# ValueError error al convertir un valor, ej. de cadena a numerico
def convertir_a_entero(Peso):
    return int(Peso)
Peso="39*"
resultado = convertir_a_entero(Peso)
print(f"Resultado: {resultado}")

ValueError: invalid literal for int() with base 10: '39*'

In [42]:
def convertir_a_entero(X):
 return int(X)
Y="234abc"
resultado = convertir_a_entero(X)
print(f"Resultado: {resultado}")

NameError: name 'X' is not defined

In [43]:
#SyntaxError: la declaración de la estructura no es acorde
def expresion(X)
    if X != 6 and X > 3:
        print("la expresión se cumple.")
    else:
        print("la expresión NO se cumple.")
valor = float(input('Ingrese primer valor:'))
expresion(valor)

SyntaxError: expected ':' (<ipython-input-43-acb9858621c2>, line 2)

In [44]:
#TypeError: problemas para operaciones con un tipo de dato no esperado
def dividir(a, b):
    return a / b

resultado = dividir("10", 2)
print(f"Resultado: {resultado}")

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [46]:
#ZeroDivisionError: se trata de ejecutar una división por cero
def dividir(a, b):
    return a / b

resultado = dividir(10, 0)
print(f"Resultado: {resultado}")

ZeroDivisionError: division by zero

In [14]:
#OSError: problema del sistema, ej. el archivo especificado no existe
import os

archivo= open('prueba.txt','r')
archivo.read()
os.chdir('/content/drive/MyDrive/Colab Notebooks')

FileNotFoundError: [Errno 2] No such file or directory: 'prueba.txt'

In [ ]:
#IndexError: cuando se accede a un elemento de una estructura que esta fuera de alcance.

In [27]:
a = [1, 2, 3]
print(a[3])
a = [4]
print(a[2])

IndexError: list index out of range

__3. Ejercicios algoritmos secuenciales__

1. Se estima que la distancia de la tierra a el sol es de 8 minutos 19.62 segundos luz y la distancia a la luna es de 1.2813 segundos luz. Hallar la distancia en kilómetros de la tierra a estos dos cuerpos celestes.

In [69]:
#Velocidad de la Luz en km
SL = 300000
# Distancia a la Luna en segundos luz
distancia_luna_segundos_luz = 1.2813
# Distancia a la Tierra en segundos luz
distancia_tierra_segundos_luz = ((8 * 60) + 19.62)*SL
distancia_sol = distancia_tierra_segundos_luz
distancia_luna = SL*1.2813
distancia_luna
print('la distacia de la tierra al sol en Km es: ',distancia_sol)
print('la distacia de la tierra a la luna en Km es: ',distancia_luna)

la distacia de la tierra al sol en Km es:  149886000.0
la distacia de la tierra a la luna en Km es:  384390.00000000006

2. Escriba un programa que recibe por consola cualquier valor de distancia en segundos luz y la convierte en kilómetros

In [74]:
#Velocidad de la Luz en km
SL = 300000
valor = float(input('Ingrese valor en segundos Luz:'))
distancia_km = valor*SL
print('la distancia en Km es: ',distancia_km)

Ingrese valor en segundos Luz:3
la distancia en Km es:  900000.0

3. Dados 3 puntos cualesquiera en un plano, puntos={x1, y1, x2, y2, x3, y3} los cuales forman un triángulo. Hacer un programa para calcular el área del triángulo (sugerencia, use la fórmula de Héron).

In [22]:
import math
def area_triangulo(x1, y1, x2, y2, x3, y3):
    a = (x1, y1)
    b = (x2, y2)
    c = (x3, y3)
    s = (a + b + c) / 2
    area = (s*(s-a)*(s-b)*(s-c))**0.5

    a = int(input("Ingrese un valor: "))
    b = int(input("Ingrese un valor: "))
    c = int(input("Ingrese un valor: "))
    area = area_triangulo(a, b, c)

In [26]:


def area_triangulo(x1, y1, x2, y2, x3, y3):



    a = ((x2 - x1)**2 + (y2 - y1)**2)
    b = ((x3 - x2)**2 + (y3 - y2)**2)
    c = ((x1 - x3)**2 + (y1 - y3)**2)


    semiperimetro = (a + b + c) / 2

    area = (semiperimetro*(semiperimetro-a)*(semiperimetro-b)*(semiperimetro-c))**0.5
    return area

area_triangulo(0,0, 0,1, 1,0)

0.0

In [30]:
def area_triangulo(x1, y1, x2, y2, x3, y3):
    a = ((x2 - x1)**2 + (y2 - y1)**2)
    b = ((x3 - x2)**2 + (y3 - y2)**2)
    c = ((x1 - x3)**2 + (y1 - y3)**2)
    area = ((a + b + c) / 2*((a + b + c) / 2-a)*((a + b + c) / 2-b)*((a + b + c) / 2-c))**0.5
    return area
area_triangulo(0,0, 0,1, 1,0)

0.0

4. Hacer un programa que recibe un valor de tiempo en segundos y muesta este tiempo en formato de horas, minutos (0-59) y segundos (0-59). Por ejemplo, si el valor ingresado es: 3662 segundos, la respuesta debe ser 1 hora (3600), 1 minuto (60) y 2 segundos.

In [8]:
def convertir_segundos_a_tiempo(seg):
    H = seg // 3600
    M = (seg % 3600) // 60
    seg_restantes = (seg % 3600) % 60
    print(f"{H} horas ({H * 3600}), {M} minutos ({M * 60}) y {seg_restantes} segundos.")

seg = int(input("Ingrese un valor de tiempo en segundos: "))
convertir_segundos_a_tiempo(seg)

Ingrese un valor de tiempo en segundos: 12354
3 horas (10800), 25 minutos (1500) y 54 segundos.

5. De la ecuación cuadrática obtener las raíces, el vértice